
    body {

        font-family: Arial;
        background-color: #f4f4f4;
        padding: 20px;
      
    }

    .menu {
        font-size:25px;             
        margin-right: 15px;
        text-decoration: none;
        font-weight: bold;
        color: #333;
    }

    .btn {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border: none;
        border-radius: 5px;
    }

